.heroHomeWrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(https://patilshreyas.github.io/Images/code.jpg);
}

@keyframes bounce7 {
  0% {
    transform: scale(0) translateY(0) rotate(90deg);
  }
  /* 10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  } */
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
