@keyframes slideInFromBottom {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes handWaveAnimation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.handWave {
  animation: 2.5s infinite handWaveAnimation;
  display: inline-block;
  transform-origin: 70% 70%;
}

.nav-sidebar-hide {
  width: 0px !important;
}

.nav-sidebar-hide > div {
  width: auto;
}
